@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;1,500&family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item1{
    background-image: url(images/bg_24.png);
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item2{
    width: 300px;
    height: 500px;
    text-align: justify;
    background-color: white;
}
.item2 .para{
    margin-top: 30px;
}
.item2 h1{
    margin: 30px;
    text-align: center;
    font-family: 'Lora';
}
.item2 hr{
    border: 1px solid rgb(153, 149, 149);
    margin: 10px 120px;
    
}
.item2 .para{
    text-align: center;
}
.item2 p{
    padding: 10px 10px;
    color: rgb(142, 169, 169) ;
}
